.formulario {
     width: 16%;
     text-align: center;
     background-color: blue;
     color: white;
}
.id{
     margin-bottom: 3%;
     padding: 5px;
     width: 100%;
     text-align: center;
}
.nome{
     margin-bottom: 3%;
     padding: 5px;
     width: 100%;
     text-align: center;
}
.data_nascimento{
     margin-bottom: 3%;
     padding: 5px;
     width: 100%;
     text-align: center;
}
.email{
     margin-bottom: 3%;
     padding: 5px;
     width: 100%;
     text-align: center;
}
.excluido{
     margin-bottom: 3%;
     padding: 5px;
     width: 100%;
     text-align: center;
}
